@use '../components/base';

main {
    padding: base.$main-padding;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 4rem;
        margin: 0;
    }

    p {
        width: 70%;
        font-size: 1.5rem;
    }

    a {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: .5rem 1.5rem;
        text-decoration: none;
        border: 1px solid;
        border-radius: 100px;
        font-size: x-large;
        position: absolute;
        bottom: 10%;
    }

    &.light {
        @include base.light-theme();

        h1 {
            color: darken($color: base.$light-primary-color, $amount: 15%);
        }

        a {
            background-color: base.$light-primary-color;
            color: base.$light-bg;
            border-color: base.$light-primary-color;

            &:hover {
                color: base.$light-primary-color;
                background-color: base.$light-bg;
            }
        }
    }
    &.dark {
        @include base.dark-theme();

        h1 {
            color: base.$dark-primary-color;
        }

        a {
            background-color: base.$dark-primary-color;
            color: base.$dark-bg;
            border-color: base.$dark-primary-color;

            &:hover {
                color: base.$dark-primary-color;
                background-color: base.$dark-bg;
            }
        }
    }

}