@use '../components/base';

main#home {
    padding: base.$main-padding;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 4rem;
        margin: 0;
    }

    p {
        width: 70%;
        font-size: 1.5rem;
    }

    button {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: .5rem 1.5rem;
        text-decoration: none;
        border: 1px solid;
        border-radius: 100px;
        font-size: x-large;
        position: absolute;
        bottom: 10%;
        cursor: pointer;
    }

    &.light {
        @include base.light-theme();

        h1 {
            color: darken($color: base.$light-primary-color, $amount: 15%);
        }

        button {
            background-color: base.$light-primary-color;
            color: base.$light-bg;
            border-color: base.$light-primary-color;

            &:hover {
                color: base.$light-primary-color;
                background-color: base.$light-bg;
            }
        }
    }
    &.dark {
        @include base.dark-theme();

        h1 {
            color: base.$dark-primary-color;
        }

        button {
            background-color: base.$dark-primary-color;
            color: base.$dark-bg;
            border-color: base.$dark-primary-color;

            &:hover {
                color: base.$dark-primary-color;
                background-color: base.$dark-bg;
            }
        }
    }
}

div#collection {
    display: flex;
    min-height: 100vh;
    padding: base.$main-padding;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;

    aside{
        position: sticky;
        top: 10%;
        width: 20%;
        padding: 1rem 0;

        ul {
            list-style-type: none;
            padding: 0;
        }

        button {
            display: block;
            padding: .3rem 1rem;
            cursor: pointer;
            border: 0;
            background-color: transparent;
        }
    }

    div {
        // border-left: 2px solid black;
        flex-grow: 1;
    }

    &.light {
        @include base.light-theme();

        aside {

            button {
                color: base.$light-neutral-color;
                border-left: 4px solid darken(base.$light-bg, $amount: 10%);

                &:hover {
                    color: base.$light-primary-color;
                    border-left: 4px solid base.$light-primary-color;
                }
            }
        }
    }
    &.dark {
        @include base.dark-theme();

        aside {

            button {
                color: base.$dark-neutral-color;
                border-left: 4px solid lighten(base.$dark-bg, $amount: 20%);

                &:hover {
                    color: base.$dark-primary-color;
                    border-left: 4px solid base.$dark-primary-color;
                }
            }
        }
    }
}