$main-padding: 0px 5%;

$light-bg: #fafafa;
$dark-bg: #5a5a5a;

$light-neutral-color: black;
$dark-neutral-color: white;

$light-primary-color: #00bd00;
$dark-primary-color: #E5F143;

@mixin light-theme($color: $light-neutral-color){
    background-color: $light-bg;
    color: $color;
}

@mixin dark-theme($color: $dark-neutral-color){
    background-color: $dark-bg;
    color: $color;
}

section {
    // height: 100vh;
    padding: 2rem;

    h2 {
        margin: 0;
        letter-spacing: 2px;
        padding: 0 0 10px 0;
    }

    h3 {
        letter-spacing: 1px;
    }

    h4 {
        letter-spacing: 0.5px;
    }

    &.light {
        h2 {
            border-bottom: 2px solid $dark-bg;
        }
    }

    &.dark {
        h2 {
            border-bottom: 2px solid $light-bg;
        }
    }
}

@mixin preview() {
    div.preview {
        padding: 1rem;
        border-radius: 10px;
    }

    &.light {
        h2 {
            border-bottom: 2px solid $dark-bg;
        }

        div.preview {
            border: 1px solid $light-neutral-color;
        }
    }

    &.dark {
        h2 {
            border-bottom: 2px solid $light-bg;
        }

        div.preview {
            border: 1px solid darken($color: $dark-neutral-color, $amount: 30%);
        }
    }
}
