$main-padding: 0px 5%;

$dark-bg: rgb(90, 90, 90);
$light-primary-color: #00bd00;
$dark-primary-color: #E5F143;

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: $main-padding;

    .filetype {
        color: $light-primary-color;
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }

    li {
        :hover {
            color: $light-primary-color;
        }
    }

    a {
        text-decoration: none;
        padding: 0.5rem 0.5rem;
        font-size: 1.1rem;
        color: black;
    }
}