@use './base';

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    padding: base.$main-padding;
    gap: 25px;
    box-sizing: border-box;

    h1 {
        flex-grow: 1;
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        padding: 0.5rem 0.5rem;
        font-size: 1.1rem;
    }

    &.light {
        @include base.light-theme();

        .filetype {
            color: base.$light-primary-color;
        }

        a {
            color: base.$light-neutral-color;
        }

        li {
            :hover {
                color: base.$light-primary-color;
            }
        }
    }

    &.dark {
        @include base.dark-theme();

        .filetype {
            color: base.$dark-primary-color
        }

        a {
            color: base.$dark-neutral-color;
        }

        li {
            :hover {
                color: base.$dark-primary-color;
            }
        }
    }
}