@use './base';

.toggleButton {
    display: flex;
    padding: .2rem;
    border: 0;
    border-radius: 5rem;
    width: 4rem;
    font-size: x-large;
    cursor: pointer;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    &.light {
        background-color: darken($color: base.$light-bg, $amount: 25%);
        justify-content: start;
        span {
            @include base.light-theme();
        }
    }
    &.dark {
        background-color: lighten($color: base.$dark-bg, $amount: 35%);

        justify-content: end;
        span {
            @include base.dark-theme();
        }
    }
}